{% load django_bootstrap5 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Task manager</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body class="text-center">

{% include 'includes/nav.html' %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">
            {% block header %}{% endblock %}
        </h1>
        <div class="container wrapper flex-grow-1">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>
</body>
</html>
